<%= form_for(@task) do |f| %>
<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Subject" %><br>
    <%= f.select( :subject, [[@task.subject],['Website'],['Inventory'],['Tracking'],['SEO/CRO','SEO']]) %>
  </div>
  <div class="field">
    <%= f.label :need %><br>
    <%= f.text_area :need %>
  </div>
  <div class="field">
    <%= f.label :fix %><br>
    <%= f.text_area :fix %>
  </div>
  <div class="field">
    <%= f.label :issue %><br>
    <%= f.text_area :issue %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit "Continue", class: "btn btn-primary" %>
  </div>
<% end %>
