<strong><%= link_to task.name, edit_task_path(task), style: "float:left;" %></strong>
    <%= form_for(task) do |f| %>
      <%= f.hidden_field :done, :value => !task.done %>
      <%= f.submit "Change Status", class: "btn-primary", style: "width:auto" %>
    <% end %>
<ul>
    <% if task.need? %>
        <li><%= task.need %></li>
    <%end%>
    <% if task.fix? %>
        <li><%= task.fix %></li>
    <% end %>
    <% if task.issue? %>
        <li><%= task.issue %></li>
    <% end %>
</ul>