@import "bootstrap-sprockets";
@import "bootstrap";

body{
    padding-left:15px;
}
a{
    padding:5px;
    &:hover{
        text-decoration:none;
    }
}
td{
    padding-left:5px;
}
table{
    thead{
        background:#428bca;
         tr{
             color:#fff;
         }
    }

    margin:10px;
    tr{
        color:#2a6496;
        &:nth-child(even){
            background: #EFEFEF;
        }
        &:hover{
            background:#428bca;
            color:white;
        }
    }
    td{
    width: auto; 
    line-height: 24px;
    padding: 2px 12px;
    border: 1px solid #ddd;
        a{
            all:inherit;
            border:none;
            &:visited{
            all:inherit;
            border:none;
            }
            &:hover{
                all:inherit;
                border:none;
            }
        }
        input {
            margin: 4px;
        }
    }
}
textarea {
    margin: 0px;
    width: 500px;
    height: 150px;

}
input{
    width:400px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 5px 0px -1px 0px;
    border-radius: 4px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.new_task {
    /* float: left; */
    margin-left: 15%;
    margin-right: 15%;
}
.edit_task {
    /* float: left; */
    /* margin-left: 15%; */
    /* margin-right: 15%; */
}
aside {
    float:left;
    width:45%;
    form {
        width:100%;
    }
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.stuff {
        padding-top: 75px;
}
.Website {
    background:red;
}
.Inventory{
    background:orange;
}
.Tracking{
    background:blue;
}
.SEO{
    background:orange;
}