<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@cat) do |f| %>
      <%= f.label "Category Name" %><br>
      <%= f.text_field :name %>
      <%= f.submit "Create Category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>