<h2>Lists</h2><hr>
<% @cats.each do |cat| %>
<h1 style="width:50%;float:left;"><%= link_to cat.name, cat %>(<%=cat.tasks.count %>) 
</h1>
<%end %>
<h2 style="padding-top:115px;">Tasks</h2>
<hr>
<% @tasks.each do |task| %>
<li><%= link_to task.name, task %> |
        <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
<%end %>