<h1>
    <%= @cat.name %>
</h1>
<div class="col-md-8">
    <% if @cat.tasks.any? %>
      <h3>Tasks (<%= @cat.tasks.count %>)</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Date</th>
      <th>Last Updated</th>
      <th>Change Status</th>
    </tr>
  </thead>

  <tbody>
    <% @Tasks.each do |task| %>
      <tr>
        <td class='<%= task.subject %>'></td>
        <td><%= link_to task.name, edit_task_path(task) %></td>
        <td><% if task.created_at? %><%= task.created_at.to_time.strftime('%D') %><% else %> -<% end %></td>
        <td><% if task.updated_at? && task.created_at? && task.updated_at.to_time.strftime('%A%B%Y%l%M%S') != task.created_at.to_time.strftime('%A%B%Y%l%M%S') %><%= task.updated_at.to_time.strftime('%D') %><% else %> -<% end %></td>        
        <td>    <%= form_for(task) do |f| %>
                    <%= f.hidden_field :done, :value => !task.done %>
                    <%= f.submit "Change Status", class: "btn-primary", style: "width:auto" %>
                <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>