<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Tasks", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New Task", '/tasks/new'%></li>
              <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Categories <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Todo", '/cats/1' %></li>
              <li><%= link_to "Done", '/cats/2' %></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Old Archives <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Trello", 'https://trello.com/b/NUB8Ssf9/work' %></li>
              <li><%= link_to "Google Spreadsheets", 'https://docs.google.com/spreadsheets/d/1m32QP83rRfj3PRhkWptBrq-ekW3hqhC-K0rnkKrzwjU/edit' %></li>
            </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>